//最大幅
@mixin l-wrapper($screen-width:960, $screen-fsize:13,$target:ie10) {
  margin-left: auto;
  margin-right: auto;
  //max-width: ($screen-width/$screen-fsize) + rem;
  max-width: $screen-width + px;
  width: 100%;

  @if $target == ie8 {
    .ie8 & {
      //width: $screen-width + px;
    }
  }
}

//左右の隙間
@mixin l-gap($gap:10px) {
//@mixin l-gap($gap:10 ,$tani:rem,$screen-fsize:13) {
//  @if $tani == rem {
//    padding-right: ($gap/$screen-fsize) + rem;
//    padding-left: ($gap/$screen-fsize) + rem;
//  }
//  @if $tani == px {
    padding-right: $gap;
    padding-left: $gap;
//  }

}

//1カラムに落とす
@mixin l-one($direction:left) {
  width: auto;
  float: none;
  @if $direction == left {
    margin-left: 0;
  }
}
