@charset "utf-8";
// @ Text Overflow
// ------------------------------------------------------------
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
    word-wrap: normal;//forIE
  white-space: nowrap;
}




